html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: arial;
    text-align: center;
}
    
* {
    margin:0;
    padding: 0;
}

ul {
    list-style: none;
}

.item {        
    background-size: 100% 100%;
}
.item1 {
    background-image: url('../images/01-01背景.png');
}
.item2 {
    background-image: url('../images/02-01背景.png');
}
.item3 {
    background-image: url('../images/03-01背景.png');
}
.item4 {
    background-image: url('../images/04-01背景.png');
}
.item5 {
    background-image: url('../images/05-01背景.png');
}
.item6 {
    background-image: url('../images/06-01背景.png');
}
.item7 {
    background-image: url('../images/07-01背景.png');
}
.item8 {
    background-image: url('../images/08-01背景.png');
}
.item9 {
    background-image: url('../images/09-01背景.png');
}
.item10 {
    background-image: url('../images/10-01背景.png');
}

.item .part {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: 100% 100%;
    animation-iteration-count: infinite;
}
.item1 .part1 {
    z-index: 1;
    background-image: url('../images/01-06警告黄黑板.png');
}
.item1 .part2 {
    z-index: 2;
    background-image: url('../images/01-02闪光常亮.png');
}
.item1 .part3 {
    z-index: 3;
    background-image: url('../images/01-03闪光闪烁.png');
} 
.item1 .part4 {
    background-image: url('../images/01-05警告文字.png');
    z-index: 4;
}
.item1 .part5 {
    z-index: 5;
    background-image: url('../images/01-04红色按钮.png');
}
.item2 .part1 {
    z-index: 1;
    background-image: url('../images/02-02明信片.png');
}
.item2 .part2 {
    z-index: 2;
    background-image: url('../images/02-03吊牌.png');
}
.item2 .part3 {
    z-index: 3;
    background-image: url('../images/02-04箭头.png');
}
.item3 .part1 {
    z-index: 1;
    background-image: url('../images/03-02相框.png');
}
.item3 .part2 {
    z-index: 2;
    background-image: url('../images/03-04场景吊牌一.png');
}
.item3 .part3 {
    z-index: 3;
    background-image: url('../images/03-03箭头.png');
}
.item4 .part1 {
    z-index: 1;
    background-image: url('../images/04-02椅子.png');
}
.item4 .part2 {
    z-index: 2;
    background-image: url('../images/04-04红心小.png');
}
.item4 .part3 {
    z-index: 3;
    background-image: url('../images/04-05场景吊牌二.png');
}
.item4 .part4 {
    z-index: 4;
    background-image: url('../images/04-06箭头.png');
}
.item5 .part1 {
    z-index: 1;
    background-image: url('../images/05-02场记板.png');
}
.item5 .part2 {
    z-index: 2;
    background-image: url('../images/05-03场景吊牌三.png');
}
.item5 .part3 {
    z-index: 3;
    background-image: url('../images/05-04白箭头.png');
}
.item6 .part1 {
    z-index: 1;
    background-image: url('../images/06-02打字机.png');
}
.item6 .part2 {
    z-index: 2;
    background-image: url('../images/06-04场景吊牌四.png');
}
.item6 .part3 {
    z-index: 3;
    background-image: url('../images/06-03箭头.png');
}
.item7 .part1 {
    z-index: 1;
    background-image: url('../images/07-02摩天轮.png');
}
.item7 .part2 {
    z-index: 2;
    background-image: url('../images/07-03场景吊牌五.png');
}
.item7 .part3 {
    z-index: 3;
    background-image: url('../images/07-04白箭头.png');
}
.item8 .part1 {
    z-index: 1;
    background-image: url('../images/08-04书桌.png');
}
.item8 .part2 {
    z-index: 2;
    background-image: url('../images/08-02场景吊牌六.png');
}
.item8 .part3 {
    z-index: 3;
    background-image: url('../images/08-03箭头.png');
}
.item9 .part1 {
    z-index: 1;
    background-image: url('../images/09-03照相机.png');
}
.item9 .part2 {
    z-index: 2;
    background-image: url('../images/09-02场景吊牌七.png');
}
.item9 .part3 {
    z-index: 3;
    background-image: url('../images/09-04箭头.png');
}
.item10 .part1 {
    z-index: 1;
    background-image: url('../images/10-03LOGO集合.png');
}
.item10 .part2 {
    z-index: 2;
    background-image: url('../images/10-02分享好友再看一遍.png');
}
.c_arrow {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    animation: fadeInDown 1.5s .2s ease infinite;
    -webkit-animation: fadeInDown 1.5s .2s infinite;
}