@charset "utf-8";

* {
	margin: 0;
	outline: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
article, aside, dialog, footer, header, section, footer, nav, figure, menu {
	display: block
}
a {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, .35)
}
html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	position: relative
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	font-weight: 300;
	font-family: "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", STHeiti, Tahoma, Helvetica, Arial, Verdana, sans-serif;
	font-size: 62.5%;
	line-height: 1.7;
	-webkit-touch-callout: none;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
	position: relative;
	background: #4B96DA
}
img {
	border: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
	display: block
}
img:not([src*="/"]) {
	display: none
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%
}
th, td, caption {
	vertical-align: middl;
	e
}
textarea {
	resize: none;
	border: 0;
	padding: 8px 0;
	border-radius: 0
}
ol, ul, li {
	list-style: none;
	margin: 0;
	padding: 0
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: 400
}
em, var {
	font-style: normal
}
:focus {
	outline: 0
}
.clear:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
.clear {
	*zoom: 1
}
.clear-both {
	clear: both;
	height: 0;
	overflow: hidden
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table
}
.clearfix:after {
	clear: both
}
.container, .swiper-container {
	width: 100%;
	height: 100%
}
.swiper-slide-prev, .swiper-slide-next {
	overflow: hidden
}
.swiper-slide-prev img, .swiper-slide-next img {
	display: none
}
.u-arrow-bottom {
	position: absolute;
	bottom: 10px;
	left: 50%;
	z-index: 99;
	width: 24px;
	height: 14px;
	margin-left: -7px
}
.u-arrow-bottom img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -7px 0 0 -14px;
	width: 24px;
	height: 14px;
	background-position: 0 -82px;
	-webkit-animation: start 1.5s infinite ease-in-out;
	-moz-animation: start 1.5s infinite ease-in-out;
	animation: start 1.5s infinite ease-in-out
}
.music, .music2 {
	z-index: 99;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 35px;
	height: 35px
}
.music {
	background: url(../img/music.png);
	background-size: 35px 35px
}
.music2 {
	background: url(../img/musicOff.png);
	background-size: 35px 35px
}
.rotate {
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear
}
.swiper-slide-active .p1_img1 {
	position: absolute;
	top: 5%;
	left: 10%;
	-webkit-animation: fadeInTop 2s ease 0.3s both;
	-moz-animation: fadeInTop 2s ease 0.3s both;
	animation: fadeInTop 2s ease 0.3s both
}
.swiper-slide-active .p1_img2 {
	position: absolute;
	top: 21%;
	left: 50%;
	-webkit-animation: fadeIn 2s ease 1.5s both;
	-moz-animation: fadeIn 2s ease 1.5s both;
	animation: fadeIn 2s ease 1.5s both;
	z-index: 2
}
.swiper-slide-active .p1_img2-2 {
	position: absolute;
	top: 36%;
	left: 60%;
	-webkit-animation: fadeIn 1.2s ease 1.5s infinite both;
	-moz-animation: fadeIn 1.2s ease 1.5s infinite both;
	animation: fadeIn 1.2s ease 1.5s infinite both;
	z-index: 3
}
.swiper-slide-active .p1_img2-3 {
	position: absolute;
	top: 41%;
	left: 67%;
	-webkit-animation: fadeIn 1.2s ease 1.8s infinite both;
	-moz-animation: fadeIn 1.2s ease 1.8s infinite both;
	animation: fadeIn 1.2s ease 1.8s infinite both;
	z-index: 3
}
.swiper-slide-active .p1_img3 {
	position: absolute;
	top: 36%;
	right: 0%;
	-webkit-animation: scaleInRight 0.5s linear 1.5s both;
	-moz-animation: scaleInRight 0.5s linear 1.5s both;
	animation: scaleInRight 0.5s linear 1.5s both;
	z-index: 3
}
.swiper-slide-active .p1_img4 {
	position: absolute;
	top: 36%;
	right: 0%;
	-webkit-animation: blink 0.5s ease-in-out 2s infinite alternate both;
	-moz-animation: blink 0.5s ease-in-out 2s infinite alternate both;
	animation: blink 0.5s ease-in-out 2s infinite alternate both;
	z-index: 4
}
.swiper-slide-active .p1_img4-2 {
	position: absolute;
	top: 36%;
	right: 0%;
	-webkit-animation: blink 0.5s ease-in-out 2.5s infinite alternate both;
	-moz-animation: blink 0.5s ease-in-out 2.5s infinite alternate both;
	animation: blink 0.5s ease-in-out 2.5s infinite alternate both;
	z-index: 4
}
.swiper-slide-active .p1_img5 {
	position: absolute;
	bottom: 5%;
	left: 10%;
	-webkit-animation: fadeInBottom 2s ease 0.3s both;
	-moz-animation: fadeInBottom 2s ease 0.3s both;
	animation: fadeInBottom 2s ease 0.3s both
}
.swiper-slide-active .p1_img5.finished {
	position: absolute;
	bottom: 5%;
	left: 10%;
    -webkit-animation: beat .93s infinite ease ;
	-moz-animation: beat .93s infinite ease ;
    animation: beat .93s infinite ease ;
}
.swiper-slide-active .p2_img1 {
	position: absolute;
	top: 5%;
	left: 50%;
	margin-left: -6.1625rem;
	-webkit-animation: fadeInTop 2s ease 0.3s both;
	-moz-animation: fadeInTop 2s ease 0.3 both;
	animation: fadeInTop 2s ease 0.3s both;
}
.swiper-slide-active .p2_img2 {
	position: absolute;
	top: 17%;
	left: 50%;
	margin-left: -6.875rem;
	-webkit-animation: fadeIn 2s ease 0.7s both;
	-moz-animation: fadeIn 2s ease 0.7s both;
	animation: fadeIn 2s ease 0.7s both;
	z-index: 1
}
.swiper-slide-active .p2_img3 {
	position: absolute;
	top: 19%;
	left: 50%;
	margin-left: -6.2125rem;
	-webkit-animation: fadeIn 0.8s linear 1.5s infinite both;
	-moz-animation: fadeIn 0.8s linear 1.5s infinite both;
	animation: fadeIn 0.8s linear 1.5s infinite both;
	z-index: 2
}
.swiper-slide-active .p2_img4 {
	position: absolute;
	top: 40%;
	left: 50%;
	margin-left: -4.6625rem;
	-webkit-animation: blink 4s ease-in-out 0s infinite alternate both;
	-moz-animation: blink 4s ease-in-out 0s infinite alternate both;
	animation: blink 4s ease-in-out 0s infinite alternate both
}
.swiper-slide-active .p2_img5 {
	position: absolute;
	top: 30%;
	left: 50%;
	margin-left: -6.1375rem;
	-webkit-animation: blink 4s ease-in-out 4s infinite alternate both;
	-moz-animation: blink 4s ease-in-out 4s infinite alternate both;
	animation: blink 4s ease-in-out 4s infinite alternate both
}
.swiper-slide-active .p2_img6 {
	position: absolute;
	bottom: 10%;
	left: 50%;
	margin-left: -6.7125rem;
	-webkit-animation: fadeIn 2s ease 1s both;
	-moz-animation: fadeIn 2s ease 1s both;
	animation: fadeIn 2s ease 1s both
}

.swiper-slide-active .p3_img1 {
	position: absolute;
	top: 5%;
	left: 50%;
	margin-left: -6.2125rem;
	-webkit-animation: fadeInTop 2s ease 0.3s both;
	-moz-animation: fadeInTop 2s ease 0.3 both;
	animation: fadeInTop 2s ease 0.3s both;
}
.swiper-slide-active .p3_img2 {
	position: absolute;
	top: 17%;
	left: 50%;
	margin-left: -6.875rem;
	-webkit-animation: fadeIn 2s ease 0.7s both;
	-moz-animation: fadeIn 2s ease 0.7s both;
	animation: fadeIn 2s ease 0.7s both;
	z-index: 1
}
.swiper-slide-active .p3_img3 {
	position: absolute;
	top: 19%;
	left: 50%;
	margin-left: -4.9rem;
	-webkit-animation: fadeIn 0.8s linear 1.5s infinite both;
	-moz-animation: fadeIn 0.8s linear 1.5s infinite both;
	animation: fadeIn 0.8s linear 1.5s infinite both;
	z-index: 2
}
.swiper-slide-active .p3_img4 {
	position: absolute;
	top: 30%;
	left: 50%;
	margin-left: -5.45rem;
	-webkit-animation: blink_shaking 4s ease-in-out 0s infinite alternate both;
	-moz-animation: blink_shaking 4s ease-in-out 0s infinite alternate both;
	animation: blink_shaking 4s ease-in-out 0s infinite alternate both
}
.swiper-slide-active .p3_img5 {
	position: absolute;
	top: 38%;
	left: 50%;
	margin-left: -4.7375rem;
	-webkit-animation: blink_shaking 4s ease-in-out 4s infinite alternate both;
	-moz-animation: blink_shaking 4s ease-in-out 4s infinite alternate both;
	animation: blink_shaking 4s ease-in-out 4s infinite alternate both
}
.swiper-slide-active .p3_img6 {
	position: absolute;
	bottom: 10%;
	left: 50%;
	margin-left: -6.7375rem;
	-webkit-animation: fadeInBottom 2s ease 1s both;
	-moz-animation: fadeInBottom 2s ease 1s both;
	animation: fadeInBottom 2s ease 1s both
}

.swiper-slide-active .p4_img1 {
	position: absolute;
	top: 5%;
	left: 50%;
	margin-left: -6.225rem;
	-webkit-animation: fadeInTop 2s ease 0.3s both;
	-moz-animation: fadeInTop 2s ease 0.3 both;
	animation: fadeInTop 2s ease 0.3s both;
}
.swiper-slide-active .p4_img2 {
	position: absolute;
	top: 17%;
	left: 50%;
	margin-left: -6.875rem;
	-webkit-animation: fadeIn 2s ease 0.7s both;
	-moz-animation: fadeIn 2s ease 0.7s both;
	animation: fadeIn 2s ease 0.7s both;
	z-index: 1
}
.swiper-slide-active .p4_img3 {
	position: absolute;
	top: 19%;
	left: 50%;
	margin-left: -6.5375rem;
	-webkit-animation: fadeIn 0.8s linear 1.5s infinite both;
	-moz-animation: fadeIn 0.8s linear 1.5s infinite both;
	animation: fadeIn 0.8s linear 1.5s infinite both;
	z-index: 2
}
.swiper-slide-active .p4_img4 {
	position: absolute;
	top: 36%;
	left: 50%;
	margin-left: -4.325rem;
	-webkit-animation: blink 4s ease-in-out 0s infinite alternate both;
	-moz-animation: blink 4s ease-in-out 0s infinite alternate both;
	animation: blink 4s ease-in-out 0s infinite alternate both
}
.swiper-slide-active .p4_img5 {
	position: absolute;
	top: 34%;
	left: 50%;
	margin-left: -3.8625rem;
	-webkit-animation: blink 4s ease-in-out 4s infinite alternate both;
	-moz-animation: blink 4s ease-in-out 4s infinite alternate both;
	animation: blink 4s ease-in-out 4s infinite alternate both
}
.swiper-slide-active .p4_img6 {
	position: absolute;
	bottom: 10%;
	left: 50%;
	margin-left: -6.7625rem;
	-webkit-animation: fadeInBottom 2s ease 1s both;
	-moz-animation: fadeInBottom 2s ease 1s both;
	animation: fadeInBottom 2s ease 1s both
}

.swiper-slide-active .p5_img1 {
	position: absolute;
	top: 5%;
	left: 50%;
	margin-left: -6.7875rem;
	-webkit-animation: fadeInTop 2s ease 0.3s both;
	-moz-animation: fadeInTop 2s ease 0.3 both;
	animation: fadeInTop 2s ease 0.3s both;
}
.swiper-slide-active .p5_img2 {
	position: absolute;
	top: 16%;
	left: 50%;
	margin-left: -6.875rem;
	-webkit-animation: fadeIn 2s ease 0.7s both;
	-moz-animation: fadeIn 2s ease 0.7s both;
	animation: fadeIn 2s ease 0.7s both;
	z-index: 1
}
.swiper-slide-active .p5_img3 {
	position: absolute;
	top: 18%;
	left: 50%;
	margin-left: -6.5625rem;
	-webkit-animation: fadeIn 0.8s linear 1.5s infinite both;
	-moz-animation: fadeIn 0.8s linear 1.5s infinite both;
	animation: fadeIn 0.8s linear 1.5s infinite both;
	z-index: 2
}
.swiper-slide-active .p5_img4 {
	position: absolute;
	top: 40%;
	left: 50%;
	margin-left: -5.8625rem;
    -webkit-animation: blink 4s ease-in-out 0s infinite alternate both;
	-moz-animation: blink 4s ease-in-out 0s infinite alternate both;
	animation: blink 4s ease-in-out 0s infinite alternate both
}
.swiper-slide-active .p5_img4-2 {
	position: absolute;
	top: 40%;
	right: 10%;
    -webkit-animation: fadeInRight 4s ease-in-out 0s infinite alternate both;
	-moz-animation: fadeInRight 4s ease-in-out 0s infinite alternate both;
	animation: fadeInRight 4s ease-in-out 0s infinite alternate both
}
.swiper-slide-active .p5_img5 {
	position: absolute;
	top: 32%;
	left: 50%;
	margin-left: -5.2875rem;
	-webkit-animation: blink 4s ease-in-out 4s infinite alternate both;
	-moz-animation: blink 4s ease-in-out 4s infinite alternate both;
	animation: blink 4s ease-in-out 4s infinite alternate both
}
.swiper-slide-active .p5_img6 {
	position: absolute;
	bottom: 10%;
	left: 50%;
	margin-left: -7.0625rem;
	-webkit-animation: fadeInBottom 2s ease 1s both;
	-moz-animation: fadeInBottom 2s ease 1s both;
	animation: fadeInBottom 2s ease 1s both
}

@-webkit-keyframes start {
	0%, 30% {
		opacity: 0;
		-webkit-transform: translate(0, 10px)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate(0, 0)
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(0, -8px)
	}
}
@-moz-keyframes start {
	0%, 30% {
		opacity: 0;
		-moz-transform: translate(0, 10px)
	}
	60% {
		opacity: 1;
		-moz-transform: translate(0, 0)
	}
	100% {
		opacity: 0;
		-moz-transform: translate(0, -8px)
	}
}
@keyframes start {
	0%, 30% {
		opacity: 0;
		transform: translate(0, 10px)
	}
	60% {
		opacity: 1;
		transform: translate(0, 0)
	}
	100% {
		opacity: 0;
		transform: translate(0, -8px)
	}
}
@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg)
	}
}
@-moz-keyframes spin {
	from {
		-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg)
	}
}
@keyframes spin {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg)
	}
}
@-webkit-keyframes fadeInBottom {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	100% {
		opacity: 1;
		transform: none
	}
}
@-moz-keyframes fadeInBottom {
	0% {
		opacity: 0;
		-moz-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	100% {
		opacity: 1;
		transform: none
	}
}
@keyframes fadeInBottom {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}
@-webkit-keyframes fadeInTop {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}
@-moz-keyframes fadeInTop {
	0% {
		opacity: 0;
		-moz-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}
	100% {
		opacity: 1;
		-moz-transform: none;
		transform: none
	}
}
@keyframes fadeInTop {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		-ms-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none
	}
}
@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}
@-moz-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-moz-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0)
	}
	100% {
		opacity: 1;
		-moz-transform: none;
		transform: none
	}
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}
@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0)
	}
	100% {
		opacity: 1;
		transform: none
	}
}
@-moz-keyframes fadeInRight {
	0% {
		opacity: 0;
		-moz-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0)
	}
	100% {
		opacity: 1;
		transform: none
	}
}
@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
@-moz-keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
@-webkit-keyframes scaleInRight {
	0% {
		opacity: 0;
		-webkit-transform: scale(0, 0);
		-webkit-transform-origin: 100% 100%;
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1, 1);
		-webkit-transform-origin: 100% 100%;
	}
}
@-moz-keyframes scaleInRight {
	0% {
		opacity: 0;
		-moz-transform: scale(0, 0);
		-moz-transform-origin: 100% 100%;
	}
	100% {
		opacity: 1;
		-moz-transform: scale(1, 1);
		-moz-transform-origin: 100% 100%;
	}
}
@keyframes scaleInRight {
	0% {
		opacity: 0;
		transform: scale(0, 0);
		transform-origin: 100% 100%;
	}
	100% {
		opacity: 1;
		transform: scale(1, 1);
		transform-origin: 100% 100%;
	}
}
@-webkit-keyframes blink {
	0% {
		opacity: 0
	}
	20% {
		opacity: 0
	}
	80% {
		opacity: 1
	}
	100% {
		opacity: 1
	}
}
@-moz-keyframes blink {
	0% {
		opacity: 0
	}
	20% {
		opacity: 0
	}
	80% {
		opacity: 1
	}
	100% {
		opacity: 1
	}
}
@keyframes blink {
	0% {
		opacity: 0
	}
	20% {
		opacity: 0
	}
	80% {
		opacity: 1
	}
	100% {
		opacity: 1
	}
}
@-webkit-keyframes blink_shaking {
	0% {
		opacity: 0
	}
	20% {
		opacity: 0
	}
	80% {
		opacity: 1
	}
	90% {
		-webkit-transform: rotate(0deg)
	}
	95% {
		-webkit-transform: rotate(-10deg)
	}
	100% {
		opacity: 1
	}
}
@-moz-keyframes blink_shaking {
	0% {
		opacity: 0
	}
	20% {
		opacity: 0
	}
	80% {
		opacity: 1
	}
	90% {
		-moz-transform: rotate(0deg)
	}
	95% {
		-moz-transform: rotate(-10deg)
	}
	100% {
		opacity: 1
	}
}
@keyframes blink_shaking {
	0% {
		opacity: 0
	}
	20% {
		opacity: 0
	}
	80% {
		opacity: 1
	}
	90% {
		transform: rotate(0deg)
	}
	95% {
		transform: rotate(-10deg)
	}
	100% {
		opacity: 1
	}
}
@-webkit-keyframes beat {
    0% {-webkit-transform: scale(1)}
    15% {-webkit-transform: scale(1.2)}
    30% {-webkit-transform: scale(1)}
    55% {-webkit-transform: scale(1.1)}
    100% {-webkit-transform: scale(1)} 
}
@-moz-keyframes beat {
    0% {-moz-transform: scale(1)}
    15% {-moz-transform: scale(1.2)}
    30% {-moz-transform: scale(1)}
    55% {-moz-transform: scale(1.1)}
    100% {-moz-transform: scale(1)} 
}
@keyframes beat {
    0% {transform: scale(1)}
    15% {transform: scale(1.2)}
    30% {transform: scale(1)}
    55% {transform: scale(1.1)}
    100% {transform: scale(1)} 
}